
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f8fa;
}

.container {
  border: 1px solid #e1e4e8;
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin: 50px auto;
  max-width: 500px;
}

img {
  max-width: 100%;
  height: auto;
}

.username {
  margin-top: 20px;
  font-size: 1.5em;
}